@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");

* {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 10rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #16da98;
  /* text-shadow: 0 0.2rem 5rem rgb(119, 115, 115); */
  text-transform: uppercase;
  margin: 4rem 0;
}

form.search-form {
  width: 70rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #50dcff;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  box-shadow: 1rem 2rem 5rem rgb(15, 202, 146);
  position: relative; 
}
input.search-form::placeholder{
  color: rgb(9, 75, 255);
}
input.search-form {
  font-size: 3rem;
  margin: 0 1 rem;
  border-radius: 0.5rem;
  border: 3px 3px 3px 3px;
  height: 4rem;
  width: 75%;
  padding-top: 2px;
  text-transform: uppercase;
  /* background-color: rgb(255, 167, 3); */
  color: rgb(9, 75, 255);
}

/* .search-form input[type="text"] {
  padding: 0 0.5 0 0.5rem;
  width: 100%;
  color: #555;
} */

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* .recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem #aaa;
} */

/* .recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1.8rem;
  color: #40b48e;
} */

button.recipe {
  font-size: 3rem;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  cursor: pointer;
  /* background-color: #07b9ff; */
  border: 3px 3px 3px 3px solid black;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 4rem;
  font-family: inherit;
  display: inline-block;
}

button.recipe:hover {
  background-color: #ffc400;
  color: rgb(9, 75, 255);
  transition: all 0.3s;
}
